<!DOCTYPE html>
{% include head-custom.html %}
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <body>
      {{ content }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add('.post-content h2, h3, h4, h5, h6');</script>

    <!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$', '$'] ],
      displayMath: [ ['$$', '$$']],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    },
    messageStyle: "none",
    "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
  });
  </script>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
  

  <script type="text/javascript">
    //hack: remove <p> tags from images in tables 
       document.querySelectorAll("td").forEach(t => {
    if (t.textContent.endsWith("</p>")) {
      // t.textContent = t.textContent.substring(0, t.textContent.length-3)
      
      // note to self: make this work by setting text color to td background color
      // if textContent begins with / ends with escaped p element 

    }
  })
  </script>


  </body>
</html>